{% extends 'page.html' %}

{% block content %}
<div class="page question-page">

<h2 class="question-title">{{question.title}}</h2>
<p class="question-description">{{question.description}}</p>
<span class="question-author">author : {{question.author.username}}</span>

<div class="comments-container">
  <h4 class="comments-container-heading">comments</h4>

  {% if not question.comment_set.all %}
    <p class="no-comments-text">No comments yet</p>
  {% else %}
    {% for comment in question.get_comments %}
      {% include 'comment.html' with comment=comment %}
    {% endfor %}
  {% endif %}
</div>

{% if user.is_authenticated %}
<form method="POST" action="" class="comment-form">
{% csrf_token %}
<div class="fieldWrapper">
  <label for="{{comment_form.description.id_for_label}}">Your answer:</label>
  {{comment_form.description}}
</div>
<input type="submit" value="Send" class="submit-button"/>
</form>
{% endif %}

</div>
{% endblock %}